/* CSS declarations go here */
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    height: 100vh;
    z-index: 10;
}

.loading:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1rem;
    position: relative;
    width: 1rem;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    position: absolute !important;
}

.hero.padding-top {
    padding-top: 80px;
}

.centered-image {
    position: relative;
}

.centered-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}